$background:			#d3cbe1;
$background-top:		#0cafea;
$background-primary:	#3cc1f5;
$background-succes:		#d1f2ce;
$background-table:		#f8f8f8;
$background-secundary:	#f7f7f7;
$background-footer:		#4a3363;

$textcolor:				#ffffff;
$textcolor-nav:			#333333;
$textcolor-strong:		#1f9bcb;
$textcolor-em:			#b8b8b8;
$textcolor-alert:		#434343;

$textcolor-bread-active:#a8a8a8;
$textcolor-accent:		#42295e;
$textcolor-span:		#9986bb;
$textcolor-spot:		#000000;
$textcolor-cart:		#e8e8e8;
$textcolor-strike:		#999999;
$textcolor-tab:			#303030;

$bordercolor:			#cccccc;
$bordercolor-nav:		#d7d7d7;
$bordercolor-success:	#93e28b;
$bordercolor-block:		#f0f0f0;
$borderstripe:			#e6e6e6;